* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

p {
    word-break: keep-all;
}

body {
    line-height: 1;
    color: #444;
}
/* 폰트 사이즈 = 박스 사이즈 */